In [2]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv('/content/drive/MyDrive/Datasets/Mumbai_house_rent_99acers/Mumbai_99acers_cleaned.csv')
df

                     society                   type  ... total floors  monthly rent
0              other society  Residential Apartment  ...            6         85000
1              other society  Residential Apartment  ...           12        110000
2      Gajra Bhoomi Symphony  Residential Apartment  ...           17         32000
3               Crescent Bay  Residential Apartment  ...           41        150000
4                Ashwini CHS  Residential Apartment  ...            7         27000
...                      ...                    ...  ...          ...           ...
12792          other society  Residential Apartment  ...           32        175000
12793          Runwal Greens  Residential Apartment  ...           40         48000
12794          other society  Residential Apartment  ...           16        200000
12795          other society  Residential Apartment  ...           10         25500
12796          other society  Residential Apartment  ...           10        120000

[12797 rows x 10 columns]

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12797 entries, 0 to 12796
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   society        12797 non-null  object
 1   type           12797 non-null  object
 2   location       12797 non-null  object
 3   bedrooms       12797 non-null  int64
 4   built-up area  12797 non-null  float64
 5   furnishing     12797 non-null  object
 6   age            12797 non-null  object
 7   floor          12797 non-null  int64
 8   total floors   12797 non-null  int64
 9   monthly rent   12797 non-null  int64
dtypes: float64(1), int64(4), object(5)
memory usage: 999.9+ KB

# Machine Learning Model Building.
<a href = '#top'>Back on Top</a>

## OneHotEncoding Text features

In [19]:
temp = pd.get_dummies(df, drop_first=True)
corr = temp.corr()['monthly rent'].sort_values()

In [20]:
corr.head(10)

furnishing_Unfurnished                    -0.361680
location_Dombivli (East)                  -0.175266
society_Lodha Lakeshore Greens            -0.143397
location_other location                   -0.125308
location_Kharghar                         -0.108375
location_Sector 17 Ulwe                   -0.102996
location_Kasar Vadavali                   -0.094774
society_Chatrapati Shivaji Raje Complex   -0.093411
location_Ekta Nagar                       -0.093411
society_other society                     -0.093317
Name: monthly rent, dtype: float64

In [21]:
corr.tail(10)

society_Oberoi Esquire      0.172564
furnishing_Semifurnished    0.191221
location_Khar West          0.203989
society_Crescent Bay        0.238524
location_Parel              0.240461
floor                       0.379980
total floors                0.383646
bedrooms                    0.553519
built-up area               0.615666
monthly rent                1.000000
Name: monthly rent, dtype: float64

In [22]:
temp

       bedrooms  built-up area  ...  age_5 to 10 years old  age_Not Mentioned
0             2          800.0  ...                      1                  0
1             2         1050.0  ...                      0                  0
2             2         1050.0  ...                      0                  0
3             3         2275.0  ...                      0                  0
4             1          550.0  ...                      1                  0
...         ...            ...  ...                    ...                ...
12792         3         2529.0  ...                      0                  0
12793         3         1382.0  ...                      0                  0
12794         3         1750.0  ...                      0                  0
12795         2          950.0  ...                      1                  0
12796         3         2500.0  ...                      1                  0

[12797 rows x 356 columns]

## Preparing Training and Testing Datasets

In [23]:
x = temp.drop('monthly rent', axis = 1)
y = temp['monthly rent']
x.shape,y.shape

((12797, 355), (12797,))

In [24]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((10237, 355), (2560, 355), (10237,), (2560,))

## Scaling Datasets to convert them into same range.

In [47]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_train)
x_train = scaler.transform(X_train)
x_test = scaler.transform(X_test)

## Time to Built a ML model now

## LinearRegression model with standard scaling.

In [48]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import r2_score

linear_model = LinearRegression()
linear_model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [51]:
r2_score(y_test, linear_model.predict(x_test))

0.8850250933959646

## Lets store it in a DataFrame. so that we can compare different model's scores in last.

In [52]:
Final_Scores = pd.DataFrame( index = ['With Training Data', 'With Test Data'])

In [53]:
Final_Scores['Linear Regression %'] = [r2_score(y_train, linear_model.predict(x_train))*100, 
                                       r2_score(y_test, linear_model.predict(x_test))*100]

##Ridge

In [54]:
ridge = Ridge()
ridge.fit(x_train,y_train)

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [55]:
r2_score(y_test, ridge.predict(x_test))

0.8850479799093492

In [56]:
Final_Scores['Ridge Regression %'] = [r2_score(y_train, ridge.predict(x_train))*100, 
                                       r2_score(y_test, ridge.predict(x_test))*100]

##Ridge

In [57]:
lasso = Lasso()
lasso.fit(x_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_coordinate_descent.py:476: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 35058627569.295166, tolerance: 1333801373.1923687
  positive)

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [58]:
r2_score(y_test, lasso.predict(x_test))

0.8851027112279908

In [59]:
Final_Scores['Lasso Regression %'] = [r2_score(y_train, lasso.predict(x_train))*100, 
                                       r2_score(y_test, lasso.predict(x_test))*100]

##LabelEncoder

In [61]:
df1 = df.copy()
df1.head(3)

                 society                   type  ... total floors  monthly rent
0          other society  Residential Apartment  ...            6         85000
1          other society  Residential Apartment  ...           12        110000
2  Gajra Bhoomi Symphony  Residential Apartment  ...           17         32000

[3 rows x 10 columns]

In [62]:
from sklearn.preprocessing import LabelEncoder

society_encoder = LabelEncoder().fit(df1['society'])
df1['society'] = society_encoder.transform(df1['society'])

In [65]:
society_encoder.classes_

array(['Aaram Sty', 'Acme Ozone', 'Adityavardhan Apartment',
       'Ajmera Aeon', 'Ajmera Bhakti Park Sector 1 and 2', 'Ajmera Zeon',
       'Alica Nagar CHS', 'Ashford Royale', 'Ashwini CHS',
       'Bhagwati Bay Bliss', 'Bholenath Chembur Castle', 'Bhoomi Park',
       'Carter Road', 'Central Avenue Apartments', 'Chaitanya Towers',
       'Chatrapati Shivaji Raje Complex', 'Check', 'Co-oprative Society',
       'Cosmos Jewels', 'Cosmos Lounge', 'Crescent Bay', 'DB Woods',
       'Description :', 'Dheeraj Platinum Apartment', 'Diamond Garden',
       'Divine Varsha', 'Dosti Acres', 'Dosti Ambrosia', 'Dosti Estates',
       'Dosti Imperia', 'Dynamix Parkwoods', 'Emgee Greens',
       'Evening Glory CHS', 'Evershine Millennium Paradise',
       'Exquisit Falt', 'Exquisite Falt', 'Gajra Bhoomi Symphony',
       'Geomatrix Silver Crest', 'Godrej Central', 'Godrej Serenity',
       'Grace Heritage', 'Grit Heights CHS', 'Gundecha Altura',
       'HDIL Dreams', 'HDIL Metropolis Tower',
       'Harmony Co Operative Housing Society', 'Haware Tiara',
       'Hilla Almeida Park', 'Hiranandani Avalon',
       'Hiranandani Casa Marina', 'Hiranandani Crystal Court CHS',
       'Hiranandani Estate', 'Hiranandani Estate, Patlipada, Thane West',
       'Hiranandani Gardens', 'Hiranandani Gardens Cypress',
       'Hiranandani Heritage', 'Hiranandani Maitri Park',
       'Hiranandani Meadows', 'Hiranandani Octavius',
       'Hiranandani Odyssey', 'Hiranandani Princeton CHS',
       'Hiranandani Rodas Enclave', 'Hiranandani The Walk',
       'Hiranandani Torino', 'Hiranandani Verona CHS',
       'Hiranandani Zen Atlantis', 'Hubtown Atul Hill Crest',
       'Imperial Heights', 'Jai Shastri Nagar CHS',
       'Juhi Niharika Residency', 'K Raheja Heights',
       'K Raheja Palm Court', 'Kalpataru Aura', 'Kalpataru Crest',
       'Kamal Kunj', 'Kanakia Challengers', 'Kanakia Samarpan',
       'Kanakia Samarpan Exotica', 'Kanakia Sanskruti',
       'Kanishka Chs Chembur', 'Kesar Harmony', 'Kings Acres',
       'Kohinoor City Mumbai', 'Kohinoor City Phase 2',
       'Kukreja Residency', 'L and T Emerald Isle', 'Lake Florence',
       'Lake Homes', 'Lake Lucerne', 'Lake Pleasant', 'Lake Primrose',
       'Lodha Amara', 'Lodha Aurum Grande', 'Lodha Casa Bella Gold',
       'Lodha Dioro', 'Lodha Enchante', 'Lodha Fiorenza',
       'Lodha Golflinks', 'Lodha Lakeshore Greens',
       'Lodha New Cuffe Parade', 'Lodha Palava City', 'Lodha Paradise',
       'Lodha Primero', 'Lodha Splendora', 'Lodha Venezia',
       'Lodha World Crest', 'Lokhandwala Complex',
       'Lokhandwala Sapphire Heights', 'Lokhandwala Spring Leaf',
       'Lotus Link Square', 'Mahavir Kalpavruksha',
       'Mahindra Lifespaces Splendour', 'Main Hill Road',
       'Mehboob Studio', 'Millennium Avanish', 'NRI Complex Phase 2',
       'Nahars Amrit Shakti', 'Neptune Living Point', 'New Mek Tawer',
       'New Monica Chs', 'Oberoi Esquire', 'Oberoi Exquisite',
       'Oberoi Parkview', 'Oberoi Splendor', 'Oberoi Springs',
       'Oberoi Woods', 'Odyssey CHS Mumbai', 'Omkar Alta Monte',
       'Omkar Om Residency', 'Omkar Veda Exclusive', 'On Reqeast',
       'On Request', 'Peninsula Ashok Gardens', 'Peninsula Ashok Towers',
       'Planet Godrej', 'Private Society', 'RNA Continental',
       'Radha Niwas CHS', 'Raheja Acropolis', 'Raheja Ridgewood',
       'Raheja Willows', 'Raj Legacy', 'Ravi GAURAV RESIDENCY',
       'Regency Crest', 'Regency Gardens', 'Request', 'Rizvi Union Park',
       'Rosa Bella', 'Runwal Elegante', 'Runwal Garden City',
       'Runwal Greens', 'Rustomjee Azziano', 'Rustomjee Urbania',
       'Safal Saraswati CHS', 'Safal Twins',
       'Sea Princess Gundecha Trillium', 'Seven Bungalows',
       'Sheth Clarion', 'Sheth Vasant Sagar Complex', 'Shitladevi CHS',
       'Shrinath CHS', 'Sindhi Society', 'Someshwar Residency',
       'Sundew CHS', 'Sunshine CHS', 'Swastik Solitaire',
       'Tanisha Apartment', 'Tricity Pristine', 'Union Park',
       'Universal Mashayakh Tower', 'Vasant Sarita', 'Wadhwa Boulevard',
       'Wadhwa The Address', 'Windermere', 'Xyz', 'k Raheja Vistas',
       'other society', 'vasant smruti'], dtype=object)

In [66]:
type_encoder = LabelEncoder().fit(df1['type'])
df1['type'] = type_encoder.transform(df1['type'])

In [67]:
type_encoder.classes_

array(['Independent House/Villa', 'Residential Apartment',
       'Studio Apartment'], dtype=object)

In [68]:
furnishing_encoder = LabelEncoder().fit(df1['furnishing'])
df1['furnishing'] = furnishing_encoder.transform(df1['furnishing'])

In [69]:
furnishing_encoder.classes_

array(['Furnished', 'Not Mentioned', 'Semifurnished', 'Unfurnished'],
      dtype=object)

In [70]:
location_encoder = LabelEncoder().fit(df1['location'])
df1['location'] = location_encoder.transform(df1['location'])

In [71]:
location_encoder.classes_

array(['4 Bunglows', '7 Bunglow', 'Airoli', 'Ambedkar Nagar',
       'Anand Nagar', 'Andheri (East)', 'Andheri (West)', 'Asha Nagar',
       'Bandra (West)', 'Bhakti Park', 'Bhandup (West)',
       'Borivali (East)', 'Borivali (West)', 'Chakala', 'Chandivali',
       'Chembur', 'Chembur (East)', 'Chembur (West)', 'Chincholi Bunder',
       'Colaba', 'Cuffe Parade', 'Dadar (East)', 'Dahisar (East)',
       'Dahisar (West)', 'Deonar', 'Dhokali', 'Dina Bama Estate',
       'Dindoshi', 'Dn Nagar', 'Dombivli (East)', 'Ekta Nagar',
       'Evershine Nagar', 'Ganesh Nagar', 'Gavanpada', 'Ghansoli',
       'Ghatkopar West', 'Ghodbunder Road', 'Gokuldham',
       'Goregaon (East)', 'Goregaon (West)', 'Hill Road',
       'Hiranandani Estate', 'Hiranandani Gardens - Powai',
       'Hiranandani Meadows', 'Hmpl Surya Nagar', 'I C Colony',
       'Jacob Circle', 'Jankalyan Nagar', 'Jogeshwari (East)', 'Juhu',
       'Jvlr', 'Jvpd', 'Kalina', 'Kalyan (West)', 'Kamothe', 'Kandarpada',
       'Kandivali (East)', 'Kandivali (West)', 'Kanjur Marg (East)',
       'Kasar Vadavali', 'Kavesar', 'Khadakpada', 'Khar', 'Khar West',
       'Kharghar', 'Kolshet Road', 'Kopara', 'Koperkhairane',
       'Kurla (West)', 'Lokhandwala', 'Lokhandwala Township',
       'Lower Parel', 'Lower Parel West', 'Mahalaxmi', 'Mahim (West)',
       'Majiwada', 'Malad (East)', 'Malad (West)', 'Manpada', 'Marol',
       'Mira Bhayandar', 'Mira Road', 'Mira Road East', 'Mulund (West)',
       'Mulund Colony', 'Orlem', 'Owale', 'Pali Hill', 'Parel',
       'Parmanand Wadi', 'Parsik Nagar', 'Patlipada', 'Pokhran-2',
       'Powai', 'Prabhadevi', 'Raheja Vihar', 'Roadpali', 'Sainath Nagar',
       'Sanpada', 'Santacruz (East)', 'Santacruz (West)', 'Seawoods',
       'Sector 10 Kharghar', 'Sector 11 Kharghar',
       'Sector 11 Koparkhairane', 'Sector 12 Kharghar',
       'Sector 15 Belapur', 'Sector 17 Ulwe', 'Sector 18 Kamothe',
       'Sector 19 Kharghar', 'Sector 19 Ulwe', 'Sector 20 Airoli',
       'Sector 20 Kharghar', 'Sector 21 Kamothe', 'Sector 23 Ulwe',
       'Sector 34 Kamothe', 'Sector 36 Kharghar', 'Sector 4 Kharghar',
       'Sector 44 Seawoods', 'Sector 5 Ulwe', 'Sector 7 Kharghar',
       'Sector 8 Airoli', 'Sector 9 Airoli', 'Sector-10A Airoli',
       'Sector-13 Kharghar', 'Sector-14 Koparkhairane', 'Sector-18 Ulwe',
       'Sector-19 Airoli', 'Sector-20 Koparkhairane',
       'Sector-25 Khandeshhwar', 'Sector-29C Airoli',
       'Sector-34B Kharghar', 'Sector-35 Kamothe', 'Sector-35G Kharghar',
       'Sector-50 Seawoods', 'Sector-58 Seawoods', 'Sector-6 Kharghar',
       'Sector-6 Nerul', 'Sector-8 Charkop', 'Sector-8 Kharghar',
       'Sector-8A Airoli', 'Sector-9 Ulwe', 'Sewri', 'Shastri Nagar',
       'Sindhi Society Chembur', 'Tardeo', 'Teen Haath Naka',
       'Thakur Complex', 'Thakur Village', 'Thane West', 'Tilak Nagar',
       'Ulwe', 'Vakola', 'Vasant Vihar', 'Versova', 'Vijay Nagari',
       'Vile Parle (East)', 'Vile Parle (West)', 'Virar West', 'Wadala',
       'Wadala East', 'Waghbil', 'Worli', 'Worli Seaface', 'Yogidham',
       'other location'], dtype=object)

In [72]:
age_encoder = LabelEncoder().fit(df1['age'])
df1['age'] = age_encoder.transform(df1['age'])

In [73]:
age_encoder.classes_

array(['0 to 1 years old', '1 to 5 years old', '10+ years old',
       '5 to 10 years old', 'Not Mentioned'], dtype=object)

In [74]:
df1

       society  type  location  ...  floor  total floors  monthly rent
0          176     1         8  ...      2             6         85000
1          176     1        63  ...      8            12        110000
2           36     1       128  ...     14            17         32000
3           20     1        88  ...     40            41        150000
4            8     1       150  ...      4             7         27000
...        ...   ...       ...  ...    ...           ...           ...
12792      176     1        94  ...     12            32        175000
12793      150     1        83  ...     27            40         48000
12794      176     1       165  ...      9            16        200000
12795      176     1       109  ...      8            10         25500
12796      176     1         8  ...      5            10        120000

[12797 rows x 10 columns]

##  Decision Tree Regressor model

In [75]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df1.drop('monthly rent', axis = 1), df1['monthly rent'], test_size=0.2, random_state=42)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((10237, 9), (2560, 9), (10237,), (2560,))

In [78]:
from sklearn.tree import DecisionTreeRegressor
dt_model = DecisionTreeRegressor()
dt_model.fit(X_train, y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [79]:
r2_score(y_test, dt_model.predict(X_test))

0.6464749701532908

In [80]:
Final_Scores['Decision Tree Regressor %'] = [r2_score(y_train, dt_model.predict(X_train))*100,
                                             r2_score(y_test, dt_model.predict(X_test))*100]

## Random Forest Regressor model

In [81]:
from sklearn.ensemble import RandomForestRegressor

rf_model = RandomForestRegressor()
rf_model.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [82]:
r2_score(y_test, rf_model.predict(X_test))

0.8405331288973058

In [83]:
Final_Scores['Random Forest Regressor %'] = [r2_score(y_train, rf_model.predict(X_train))*100,
                                             r2_score(y_test, rf_model.predict(X_test))*100]

#Final_Scores

In [84]:
Final_Scores

                    Linear Regression %  ...  Random Forest Regressor %
With Training Data            87.516062  ...                  97.495486
With Test Data                88.502509  ...                  84.053313

[2 rows x 5 columns]